Create Players Page


<hr>
<!-- List area displaying made appointment -->
<div>
  <p>
    <strong>Name: </strong><%= @player.name %>
    <br>
    <strong>Position: </strong><%= @player.position %>
    <br>
    <strong>School: </strong><%= @player.school %>
    <br>
    <strong>Age: </strong><%= @player.age%>
    <br>
    <strong>Height: </strong><%= @player.height %>
    <br>
    <strong>Weight: </strong><%= @player.weight %>
    <br>
    <strong>Injuries: </strong><%= @player.injuries %>
    <br>
    <strong>Minutes Played: </strong><%= @player.minutes_played%>
    <br>
    <strong>Strength of Schedule: </strong><%= @player.strength_of_schedule %>
    <br>
    <strong>Likelihood of Position Specific Injuries: </strong><%= @player.position_injury %>
    <br>
    <strong>Severity Factor: </strong><%= @player.severity_of_injury%>
  </p>
</div>
